{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    <form method="post" action="">
        {% csrf_token %}
       <h1>Are you sure you want to delete?</h1><br>
       <input class="btn btn-danger" type="submit" value="Yes" />
       <a href="/list_items"><div class="btn btn-primary">Delete</div></a>
    </form>

{% endblock %}


