{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <h1>{{title}}</h1>

    <p class="lead">Welcome to our Inventory Management System</p>
    <a class="btn btn-lg btn-primary" href="/list_items" role="button">View inventory</a>

{% endblock %}

