{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
  {% if messages %}
        <ul class="messages">
               {% for message in messages %}
                     <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
  {% endif %}

    <div class="header">{{title}}</div>
      <form method='POST' action=''>{% csrf_token %}
        {{form|crispy}}
        <input type="submit" value='Search'/>
      </form>
      <br>
      <div class="display_table">
            <table class='table'>
                <thead>
                  <tr>
                    <th>Count</th>
                    <th>Category</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Reorder level</th>
                    <th>Timestamp</th>
                    <th>Last updated</th>
                    <th>Delete</th>

                  </tr>
                </thead>
              {% for stock in queryset %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{stock.category}}</td>
                    <td><a href="{% url 'update_items' stock.id %}">{{stock.item_name}}</a></td>
                    <td>{% if stock.quantity <= stock.reorder_level %}
                      <div style="background-color: orange;">
                          <a href="{% url 'stock_detail' stock.id %}">{{stock.quantity}}</a>
                      </div>
                      {% else %}
                        <a href="{% url 'stock_detail' stock.id %}">{{stock.quantity}}</a>
                      {% endif %}
                    </td>
                    <td><a href="{% url 'reorder_level' stock.id %}">{{stock.reorder_level}}</a></td>
                    <td>{{stock.timestamp}}</td>
                    <td>{{stock.last_updated}}</td>
                    <td><a href="{% url 'delete_items' stock.id %}"><i class="fas fa-trash"></i></a></td>
                  </tr>
                {% endfor %}
            </table>
      </div>

{% endblock %}


